PowerBoard/.vscode/c_cpp_properties.json
PowerBoard/.vscode/extensions.json
PowerBoard/.vscode/launch.json
UI/G8U2_ST7920_HMI/.vscode/c_cpp_properties.json
UI/G8U2_ST7920_HMI/.vscode/extensions.json
UI/G8U2_ST7920_HMI/.vscode/launch.json
